name: CI

on: [pull_request]

jobs:
  downport702:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
    - run: npm ci
    - run: npm run lint
    - run: npm run downport
    - run: rm src/*
    - run: cp downport/* src/
    - uses: actions/upload-artifact@v2
      with:
        name: downport702
        path: |
          src/*
          abapgit.xml