name: CI

on: [push, pull_request]

jobs:
  screenshot:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
    - run: npm ci
    - run: npm start &
    - run: sleep 30
    - run: node test/puppeteer.js
    - run: ls
